NODE_ENV=development
PORT=9001
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE=https://image.tmdb.org/t/p
TMDB_IMAGE_SIZE=original
TMDB_DEFAULT_LANGUAGE=vi-VN
TMDB_FALLBACK_LANGUAGE=en-US
TMDB_TIMEOUT=10000
CACHE_TTL=3600
TMDB_TOKEN=YOUR_TMDB_BEARER_TOKEN
